{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Shop</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <p><img src="images/Apple-Watch-Series-10-Aluminum-original.webp" alt="apple watch series 10"></p>
            <h4>Apple watch series 10</h4>
            <p>30,000ksh</p>
        </div>

        <div class="col-md-6">
            <img src="images/13-inch-MacBook-Air-M3.jpg" alt="Mac book air">
            <h4>Mac book air</h4>
            <p>150,000ksh</p>
        </div>

    </div>
{% endblock %}